.common-button{
    border: none;
    background-color: #d72631;
    padding: 7px 20px 7px 20px;
    border-radius: 5px;
    border: 1px solid #d72631;
    color: white;
}
.common-button:hover{
    background-color: transparent;
    color: #d72631;
    transition: all .3s ease-in-out;
}
.navbar-for-main{
   box-shadow:  0 10px 10px -10px rgb(0 0 0 / 10%);
   background-color: white;
   padding-bottom: 0.8rem;
}