
.img-container img{
    width:90%;
}


.main-header{
    color:#ff465c;
    font-weight: 600;
    font-size:2rem ;
}
.banner-buy-button{
    padding: 11px 28px;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: 600;
    background-color: #007bff;
    color: white;
    border:1px solid #007bff;
}
.banner-buy-button:hover{
    background-color: white;
    color:#007bff;
    transition: all .3s ease-in-out;
}